/* font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > * {
    position: absolute;
}

header {
    background-color: #000000d1;
    color: white;
    height: 100vh;    
}

header img {
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 10%;
}

header div.welcome{
    position: absolute;
    top: 5%;
    left: 5%;
    right:5%;
    text-align: center;
    font-family: 'Siera Condense', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    margin-top: 20px;
    font-size: 20px;
}

header h2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
}

header button{
    font-family: 'Siera', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}

@media(orientation: portrait) and (min-width: 360px){
    header div.welcome{
        top: 10%;        
    }
    button {
        margin-top: 30px;
    }
}

@media (orientation: portrait) and (min-width: 411px){
        
    header p{
        font-size: 43px;
    }
    
    header h1{
        font-size: 23px;         
    }
    
    header h2{
        font-size: 20px;
    }

    header button{
        font-size: 17px;
        line-height: 45px;
    }
}

@media(orientation: landscape){
    header img{
        height: 55%;
        transform: translate(0);
        top: 25%;
        left: 5%;
    }

    header div.welcome{
        top: 20%;
        left: 35%;
        right: 5%;
    }

    header h1 {
        margin-top: 40px;
    }
    button {
        margin-top: 20px;
    }
}

@media (orientation: landscape) and (min-width: 640px){
    header img{
        height: 65%;
        top: 20%;
        left: 5%;
    }
}

@media (orientation: landscape) and (min-width: 731px){
    header p{
        font-size: 43px;
    }
    
    header h1{
        font-size: 23px;         
    }
    
    header h2{
        font-size: 20px;
    }

    header button{
        font-size: 17px;
        line-height: 45px;
    }
}
}

section {
    min-height: 100vh;
}