

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

header > * {
    position: absolute;
}

header {
    position: relative;
    color: white;
    height: 100vh; 
    overflow: hidden;   
    max-width: 1620px;
    margin: 0 auto;
    background-image: url(/img/Pompei.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
header .back{
    background-color: #000000c7;
    height: 100vh;
    width: 100vw;
}

header img {
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 10%;
}

header div.welcome{
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 5%;
    right:5%;
    text-align: center;
    font-family: 'Siera Condense', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    margin-top: 20px;
    font-size: 20px;
}

header h2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
}

header button{
    font-family: 'Siera', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 1px solid white;
}

@media(orientation: portrait) and (min-width: 360px){
    header div.welcome{
        top: 10%;        
    }
    header button {
        margin-top: 30px;
    }
}

@media (orientation: portrait) and (min-width: 411px){
        
    header p{
        font-size: 43px;
    }
    
    header h1{
        font-size: 23px;         
    }
    
    header h2{
        font-size: 20px;
    }

    header button{
        font-size: 17px;
        line-height: 45px;
    }
}

@media (orientation: portrait) and (min-width: 768px){
    header p{
        font-size: 80px;
    }
    
    header h1{
        font-size: 31px;         
    }
    
    header h2{
        font-size: 28px;
    }

    header button{
        font-size: 22px;
        line-height: 50px;
    }
}

@media (orientation: portrait) and (min-width: 1024px){
    header p{
        font-size: 90px;
    }
    
    header h1{
        font-size: 40px;         
    }
    
    header h2{
        font-size: 35px;
    }

    header button{
        font-size: 30px;
        line-height: 60px;
    }
}

@media(orientation: landscape){
    header img{
        height: 55%;
        transform: translate(0);
        top: 25%;
        left: 5%;
    }

    header div.welcome{
        top: 20%;
        left: 35%;
        right: 5%;
    }

    header h1 {
        margin-top: 40px;
    }
    header button {
        margin-top: 20px;
    }
}

@media (orientation: landscape) and (min-width: 600px){
    header div.welcome{
        top: 20%;
        left: 48%;
        right: 3%;
    }

    header img{
        height: 60%;
        top: 20%;
        left: 5%;
    }
}

@media (orientation: landscape) and (min-width: 731px){
    header p{
        font-size: 43px;
    }
    
    header h1{
        font-size: 23px;         
    }
    
    header h2{
        font-size: 20px;
    }

    header button{
        font-size: 17px;
        line-height: 45px;
    }
}

@media (orientation: landscape) and (min-width: 1024px){
   header div.welcome{
        top: 26%;
        left: 45%;
        right: 1%;
    }

    header p{
        font-size: 70px;
    }

    header h1 {
        margin-top: 50px;
        font-size: 34px;
    }

    header h2{
        margin-top: 30px;
        font-size: 28px;
    }

    header button {
        margin-top: 30px;
        font-size: 25px;
    }

}

@media (orientation: landscape) and (min-width: 1280px){
    header div.welcome{
        top: 23%;
        left: 30%;
        right: 1%;
    }
}

@media (orientation: landscape) and (min-width: 1366px){
    header img{
        height: 65%;
    }
    
    header p{
        font-size: 80px;
    }

    header h1 {
        margin-top: 50px;
        font-size: 40px;
    }

    header h2{
        margin-top: 30px;
        font-size: 35px;
    }

    header button {
        margin-top: 30px;
        line-height: 60px;
        font-size: 30px;
        padding: 0 40px;
    }
}

@media (min-width: 1024px){
    header button{
        cursor: pointer;
        transition: .3s;
    }

    header button:hover{
        background-color: #ffff;
        color: #111;
    }
}

section .features{
    min-height: 30vh;
}

/* SECTION 1 */
.features{
    margin-top: 20px;
    padding: 5%;
    text-align: center;
    max-width: 1620px;
}
.features h1{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features h2{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.features img{
    width: 100%;
    margin: 20px 0;
    max-width: 375px;
}
@media (min-width: 360px) and (orientation: portrait){
    .features h1{
        font-size: 28px;
    }
    .features h2 {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (orientation: portrait){
    .features h1{
        font-size: 40px;
    }
    .features h2 {
        font-size: 30px;
    }
}

@media (min-width: 533px) and (orientation: landscape){
    .features h1{
        font-size: 36px;
    }
    .features h2 {
        font-size: 26px;
    }
    .features img{
        width: 50%;
    }

}

@media (min-width: 1024px) and (orientation: landscape){
    .feature{
        float: left;
        width: 33%;
        padding: 1%;
    }
    
    .features h1{
        font-size: 40px;
    }
    .features h2 {
        font-size: 29px;
    }
    .features img{
        width: 100%;
    }


}

section{
    height: 100vh;
}

